
/*Text styles*/
.markazi-display-title{
  font-family: 'Markazi';
  font-size: 46pt;
  color:#F4CE14;
  margin: 0;
}
.markazi-subtitle{
  font-family: 'Markazi';
  font-size: 28pt;
  margin: 0;
}
.karla-section-title{
  font-family: 'Karla';
  font-size: 18pt;
}
.karla-descriptive-cta{
  font-family: 'Karla';
  font-size: 16pt;
}
.card-title{
  font-family: 'Karla';
  font-size: 14pt;
  font-weight: bold;
}
.highlight-text{
  font-family: 'Karla';
  font-size: 12pt;
  font-weight: bold;
}
.karla-p-text{
  font-family: 'Karla';
  font-size: 12pt;
}
.gray-font{
  color:#EDEFEE;
}
.black-font{
  color:#333333;
}
.red-font{
  color: #EE9972;
}


/*Button style*/
.button{
  padding: 1vh 3vw;
  border-radius: 16px;
  background-color:#F4CE14;
  color:#333333;
  font-weight: bold;
  text-decoration: none;
  align-self: center;
}
.button:hover{
  cursor: pointer;
  color:#495E57;
}
.button:active{
  background-color: #495E57;
  color:#EDEFEE;
}

/*Nav styles*/
.main-navbar{
  background-color: white;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.main-navbar > img{
  height: 60px;
  padding: 10px 6vw 10px 0;
}
#main-menu-toggle{
  display: none;
}
.menu-icon{
  display: none;
}
.close-menu-icon{
  display: none;
}
.main-nav-link-item{
  text-decoration: none;
  color: #333333;
  padding: 0.5em;
}
.main-nav-link-item:hover{
  background-color: #495E57;
  color:#EDEFEE;
  border-radius: 16px;
}

@media screen and (max-width: 800px) {
  .main-navbar{
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .main-navbar > img {
    height: 7vh;
    padding: 10px 6vw;
  }
  .menu-icon{
    display: initial;
    padding: 0 30px;
  }
  .main-nav-links{
    height: 0;
    background-color: #EDEFEE;
    display:none;
    flex-direction: column;
  }
  .main-menu-toggle-label{
    top: 0;
    right: 0;
    align-self: center;
    cursor: pointer;
  }
  .toggle-checkbox:checked ~ .main-nav-links{
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 30px 80px 0 50px;
  }
  .main-nav-link-item:visited, .main-nav-links{
    display: none;
  }
}



/*Footer styles*/
.footer{
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
  color: #EDEFEE;
}
.footer-logo{
  height: 200px;
  padding: 30px 30px 30px 0;
}
.footer-nav{
  display: flex;
  flex-wrap: wrap;
}
.footer-nav-div{
  padding: 0 30px;
}
.footer-nav-div > h3 {
  color: #F4CE14;
}
.footer-links-list{
  list-style: none;
  padding-left: 0;
}
.footer-link {
  color: white;
  text-decoration: none;
}
.footer-link:hover{
  text-decoration: underline;
}


/*Homepage styles*/
.hero-section-homepage{
  background-color: #495E57;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
}
.hero-text-homepage{
  width: 35vw;
  padding: 50px 50px 0 0;
  justify-content: space-between;
}
.restaurant-food-hero-img{
  height: 55vh;
  margin: 70px 0 0 40px;
  border-radius: 16px;
}

.specials{
  padding: 100px 20vw;
}
.specials-text{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.specials-cards-container{
  display: flex;
  justify-content: space-between;
}
.specials-card{
  width: 250px;
  background-color: #EDEFEE;
  border-radius: 16px 16px 0 0;
  margin: 0 10px;
}
.specials-card-img{
  width: 100%;
  height: 150px;
  border-radius: 16px 16px 0 0;
}
.specials-card-info{
  padding: 0 15px 10px 15px;
}
.specials-card-heading{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.card-dish-p{
  margin-top: 0;
}

.testimonials{
  background-color: #495E57;
  text-align: center;
  padding: 30px;
}
.testimonials-heading{
  margin-bottom: 30px;
}
.rating-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating-card{
  background-color: #EDEFEE;
  width: 15%;
  text-align: left;
  margin: 2%;
  padding: 15px;
  border-radius: 16px;
}
.review-stars{
  display: block;
}
.rating-person{
  display: flex;
  align-items: center;
}
.rating-person-img{
  width: 22%;
  border-radius: 50%;
  margin-right: 15px;
}

.about-container{
  display: flex;
  justify-content: center;
  padding: 5vw;
  height: 400px;
}
.about-text-container{
  width: 30%;
  align-self: center;
  margin-right: 10%;
}
/* .about-title{
  font-size: 40pt;
} */

.about-images-container{
  display: flex;
  width: 25%;
}
.about-image{
  height: 300px;
  border-radius: 16pt;
}
.btm-img{
  position:relative;
  z-index: -5;
  align-self: flex-end;
}
.top-img{
  z-index: 5;
  position:absolute;
  margin-left: 120px;
}


@media screen and (max-width: 1050px){
  .hero-section-homepage{
    justify-content: space-evenly;
  }
  .hero-text-homepage{
    padding-right: 0;
    width: 50vw;
  }
  .restaurant-food-hero-img{
    height: 35vh;
    margin-left: 0;
  }
  .specials{
    padding: 100px 5vw;
  }
  .rating-person-img{
    width: 30%;
  }
  .rating-person{
    margin: 10px 0;
  }
  .about-container{
    justify-content: flex-start;
  }
  .about-text-container{
    width: 55%;
  }
  .about-images-container{
    height: 350px;
  }
  .about-image{
    height: 250px;
  }
}
@media screen and (max-width: 800px){
  .markazi-display-title{
    font-size: 30pt;
  }
  .markazi-subtitle{
    font-size: 22pt;
  }
  .karla-descriptive-cta{
    font-size: 14pt;
  }
  .card-title{
    font-size: 12pt;
    margin: 5px 0;
  }
  .highlight-text{
    font-size: 10pt;
    margin: 0;
  }
  .karla-p-text{
    font-size: 10pt;
    margin: 0;
  }
  .specials-cards-container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .specials-card{
    display: flex;
    width: 95%;
    margin: 20px 0;
  }
  .specials-card-img{
    width: 40%;
    height: 100%;
  }
  .specials-card-info{
    align-content: space-evenly;
  }
  .rating-card{
    width: 35%;
  }
  .review-stars > svg{
    width: 10%;
  }
  .about-images-container{
    height: 200px;
    align-self: center;
  }
  .about-image{
    height: 150px;
  }
  .top-img{
    margin-left: 60px;
  }
}

/*Reservation styles*/
.reservation-form-container{
  background-color: #495E57;
  padding: 30px 20%;
}
.booking-form{
  display: grid;
  max-width: 200px;
  gap: 20px;
}
.gallery-and-btn{
  padding: 30px 10%;
}
.gallery{
  text-align: center;

}
.gallery-image{
  width: 220px;
  border-radius: 16pt;
  margin: 5px 1vw;
}


@media screen and (max-width: 1020px){
  .reservation-form-container{
    padding: 30px;
  }
  .gallery-and-btn{
    padding: 30px;
  }
}
@media screen and (max-width: 800px){
  .gallery-image{
    width: 30%;
  }
}