

/*Nav styles*/
.main-nav{
  display: flex;
  width: 100vw;
  justify-content: center;
}
.main-nav > img{
  height: 60px;
  padding: 20px;
}
#main-menu-toggle{
  display: none;
}
.menu-icon{
  display: none;
}
.close-menu-icon{
  display: none;
}
.main-nav-link{
  display:inline-flex;
  padding: 1vw;
  text-decoration: none;
  align-items: center;
}
.main-nav-link > a{
  text-decoration: none;
  color: #333333;
  font-family:'Markazi Text', serif;
  font-weight: 400;
  font-size: 1.5em;
}


@media screen and (max-width: 800px) {
  .menu-icon{
    display: initial;
  }
  .main-nav-list{
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
    position: absolute;
    background-color: #EDEFEE;
    display:flex;
    flex-direction: column;
  }
  .main-menu-toggle-label{
    position: fixed right;
    align-self: center;
    cursor: pointer;
  }
  .toggle-checkbox:checked ~ .main-nav-list{
    visibility: visible;
    position: fixed;
  }
}